.DetailPagePanel {
  padding: 0.5rem;
  .ant-select,.ant-calendar-picker {
    min-width: 100%;
  }
  .ant-input {
    border: 1px solid #ccc;
  }
  .ant-form-item{
    margin-bottom: 0;
  }
  .ant-form-item-control{
    line-height:20px;
  }
  .ant-select-selection__rendered{
    line-height:25px;
  }
  input,.ant-select-selection
  {
    height: 28px;
  }

  .DetailPagePanelContainer{
    border: 1px solid #ccc;
  }

  &__ButtonSection{
    display: flex;
    justify-content: space-between;
     
    @include respond(xs) {
      padding-top: 2rem;

      button{
        font-size:1.5rem;
      }
    }

    @include respond(sm) {
      button{
        font-size:1.2rem;
      }
    }
    @include respond(md) {

      button{
        font-size:1rem;
      }
    }

    @include respond(lg) {
      padding-top: 0rem;
    }
    @include respond(xl) {
      padding-top: 0rem;
    }
  }

  &__PanelSection{
    max-height: 80vh;
    padding:5px 0.5rem;
    overflow: auto;
  }
  .Collapsible__trigger{
    background-color: #f4f4f4d0;
    border:1px solid #ccc;
    padding:14px;
    display: block;
    
    @include respond(xs){
      font-size: 1.8rem !important;
    }
    @include respond(sm){
      font-size: 1.6rem !important;
    }
    @include respond(lg){
      font-size:0.9rem !important;
    }
    @include respond(xl){
      font-size:0.9rem !important;
    }
  }
  
  @include respond(xs) {
    padding: 1.2rem;
  }
  @include respond(sm) {
    padding: 1rem;
  }
  @include respond(md) {
    padding: 0.8rem;
  }
  @include respond(lg) {
    padding: 0.8rem;
  }
  @include respond(xl) {
    padding: 0.5rem;
  }
}
