.cell {
  text-align: center;
}
.cell-left{
  text-align: left;
}

.header {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: $color-secondary;
}
.ReactTable{
  .rt-thead .rt-th,.rt-thead .rt-td{
    padding: 9px 5px;
    background-color: #f7f7f763;
    overflow: visible;
  }
  .rt-tr-group{
    flex:none;
  }
  .rt-tbody{
    max-height: 25rem;
    min-height: 25rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .-pagination .-btn{
    height: auto;
    background-color:$color-primary-light;
  }

  .-pagination .-center{
    flex:none;
  }

}
.parentTableHeader{
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: $color-secondary;
  text-align: start;
}
.ReactKTMTable {
  font-size: 0.75rem;
  font-family: sans-serif;
}

.TableRowButtons{
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
}
// .-loading-inner {
//   display: none !important;
// }
// .ReactTable-loading {
//   z-index: 0;
// }

.rowColorHighlight {
  background-color: lighten($color-primary ,4%)!important;
  color:#fff;
}
