.DateInput{
    width:5.5rem;
}
.DateInput_input {
    padding:0 5px !important;
    border:none  !important;
    
}
.DateInput_fang {
    top:1.7rem !important;
    left:5.625rem !important;
}

.DateRangePicker_picker {
    top:2.38rem !important; 
}
