.BaseLineConfigurationManagement{
    margin-left:auto;
    font-size: 0.8rem;
    // height: 100%;
   
    // padding: 1rem 0rem;
   
    .Collapsible__trigger{
        padding:0.5rem;
    }
    &__Header{
        display: flex;
        align-items: center;
        padding:0.5rem;
    }
    &__HeaderLeft{
    flex-grow: 1;
        
    }

    &__Right{
        display: flex;
        flex-direction: column;
    }
    &__SegmentBaseLine{
        border-radius: 5px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border:0.5px solid $color-grey-light-4;
        height: auto;
        width:49%;
        padding:1.4rem 0.5rem!important;
        .ReactTable .rt-tbody{
            max-height: 12rem;
            min-height:12rem;
        }
        transition:all 0.4s  ease-in;

        .ExpandButton{
            position: absolute;
            top:0;
            left: 4px;
            font-weight:500;
            cursor: pointer;
            color:$color-grey-dark-1;
            transition: all 0.3s;
            &:hover{
               transform: scale(1.5);
            }
            
        }
    }

    &__IndividualBaseLine{
       
        border-radius: 5px;
        // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border:0.5px solid $color-grey-light-4;
        height: auto;
        padding:1rem !important;
        .ReactTable .rt-tbody{
            max-height: 12rem;
            min-height:12rem;
        }
        transition:all 0.4s  ease-in;

        .ExpandButton{
            position: absolute;
            top:0;
            left: 4px;
            font-weight:500;
            cursor: pointer;
            color:$color-grey-dark-1;
            transition: all 0.3s;
            &:hover{
               transform: scale(1.5);
            }
        }
    }

    &__Left{
        padding:0.5rem 1rem;
        border-radius: 5px;
        left:0;
        top:0;
        height: auto;
        border:0.5px solid $color-grey-light-4;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        transition:all 0.4s ease-in;

        .ExpandButton{
            position: absolute;
            top:0;
            right: 4px;
            font-weight:500;
            color:red;
            cursor: pointer;
            color:$color-grey-dark-1;
            transition: all 0.3s;
            &:hover{
               transform: scale(1.5);
            }
        }
    }


    &__CommonBaseLineConfiguration{
        // border: 1px inset $color-primary;
        // border-radius:5px;
        height: auto;
      
    }

    &__Expand {
        width:80%;
        top:0;
        left:50%;
        height: 100%;
        transform: translateX(-50%);
       
    }
 
    &__Hide{
        display: none;
    }
}