.BaseLineManagement{
    margin-left:auto;
    font-size: 0.7rem;
    padding:1rem;
    // padding: 1rem 0rem;
    overflow-y: scroll;
    overflow-x: hidden;
  
    .ant-card-bordered{
        border-radius: 5px;
    }
    .ant-card-body{
        padding:0px;
    }


    &__Header{
        display: flex;
        align-items: center;
    }

    &__HeaderLeft{
        flex-grow: 1;
    }
    &__Right{
        // border: 1px solid #ccc;
        
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        height: auto;
        padding:1rem !important;
        .ReactTable .rt-tbody{
            max-height: 12rem;
            min-height:12rem;
        }
    }

    &__Left{
        padding:1rem;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    &__SegmentTable{

    }

    &__IndividualTable{
    }


    &__CommonBaseLineConfiguration{
        // border: 1px inset $color-primary;
        // border-radius:5px;
        height: auto;
      
    }
}