@mixin CollapsibleIcons{
    &::after {
        content: "\002B";
        position: absolute;
        top:10%;
        right: 1%;
        font-size: 1.5rem;
        color: $color-secondary;
      }
    
      &.is-open {
        &:after {
          content: "\2212";
          position: absolute;
          font-size: 1.5rem;
          top:10%;
          right: 1%;
          color: $color-secondary;
        }
      }
}