.SliderMenu{
    display: flex;
    flex-direction: column;
    width:25vw;
    height: 100vh;
    transition:all 0.3s;
    position: absolute;
    top:0;
    left:0;
    background-color:#f4f4f4;
    z-index: 200;

    &__Close{
        transform: translateX(-100%);
    }

    &__Open{
        transform: translateX(0);
    }
}

.SliderMenuList{

    list-style: none;
    height: 100%;
    &__item{
        padding:0.8rem;
        background: #fff;
        margin-bottom:1px;
        a,a:hover{
            text-decoration: none;
        }
        a{
            color:$color-primary;
            &:hover{
              color:lighten($color-primary,10%);
            }
        }
    }

}


