.App {
  &__main {
    position: relative;
    top: 6rem;
    left: 18vw;
    left:18%;
    height: 90vh;
    overflow: scroll;
    z-index: 0;
    @include respond(xs) {
      top: 9rem;
    }
  }
}
