.NodeDetails{
    margin-top:0.5rem;
    font-size: 0.8rem;
    max-width:70%;
    margin:auto;
    height: 100px;

    &__Header{
        display: flex;
    }
  
    &__button-section{
        margin-left: auto;
    }
}