.TileContainer{
  overflow-y: auto;
  padding:0.5rem;

  @include respond(xs) {
    height: 90vh;
  }
  
  @include respond(sm) {
    height: 90vh;
  }

  @include respond(md) {
    height: 90vh;
  }

  @include respond(lg) {
    height: 90vh;
  }

  @include respond(xl) {
    height: 84vh;
  }

  &__item{
      min-height: 15rem;
      background-color:darken(#e74c3c,5%);
      border:1px solid #fff;
      display: flex;
      cursor: pointer;
      @include respond(md) {
        min-height: 10rem;
      }

      &:hover{
        background-color:darken(#e74c3c,10%);
      }
     
      span{
            margin: auto;
            color:#faf9f9;
            font-size: 0.9rem;
            text-transform: uppercase;
            display:block;
            padding:1.5rem;
            font-weight: 400;

            @include respond(xs){
                font-size: 1.4rem !important;
            }
            @include respond(sm){
                font-size: 1.2rem !important;
            }
            @include respond(lg){
                font-size:0.9rem !important;
            }
      }
  }
}