.Header {
  padding: 1rem;
  background-color:$color-grey-dark-2;
  display: flex;
  color: $color-grey-light-1;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  button:active {
    border: none;
  }
  &__logo {
    cursor: pointer;
  }

  &__App{
    // color:$color-grey-light-1;
  }
  &__left {
    display: flex;
    align-items: center;
    flex-grow: 1;

    &__baricon {
      margin-left: 0.5rem;
      svg {
        font-size: 2.5rem;
      
      }
    }
  }
  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__poweroff {
      margin-left: 0.5rem;
      svg {
        font-size: 1.5rem;
      }
    }
  }
}
