.Header{
    padding:1rem;
    background-color: #FFF;
    display: flex;
    color:$color-primary;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 1;
    button:active{
        border:none;
    }
    &__logo{
        cursor: pointer;
    }
    &__left{
        display: flex;
        align-items: center;
        flex-basis: 80%;
    }
    &__right{
        flex-basis: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center
    }
}

