.cell{
    text-align: center;
}

.header{
    font-weight: bold;
    font-family: sans-serif;
}
 
.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td{
    padding:9px 5px;
    background-color:#f7f7f763;
}
.ReactKTMTable{
    font-size: 0.75rem;
    font-family: sans-serif;
}

.ReactTable .rt-tbody{
    max-height: 25rem;
    min-height: 25rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
.-loading-inner{
    display: none !important;
}
.ReactTable-loading{
    z-index:0;
}