.NodeDetails{
    margin-top:1rem;
    font-size: 0.8rem;
    max-width:70%;
    margin:auto;

    &__Header{
        display: flex;
    }
  
    &__button-section{
        margin-left: auto;
    }

    &__NodeDetailsTable{
       
        .ReactTable .rt-tbody{
          min-height: 15rem !important;
          max-height: 15rem !important;
        }
      }
}