*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 0.2rem;
  width:100vw;
  width: 100%;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  height: 100vh;
  height: 100%;
  overflow: hidden;
}

.icon-btn {
  background: none;
  border: none;
  color: #fff;
}
svg {
  cursor: pointer;
}
//fdfdfdy5tyryryt
input[type="checkbox"] {
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid $color-primary;
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  position: relative;
  outline: none;

  &:checked:after {
    content: "\2714";
    // border: 1px solid #fff;
    color: $color-grey-light-1;
    position: absolute;
    top: -1px;
    left: 0px;
    padding-left:2px;
    padding-bottom:2px;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    background-color: $color-primary;
  }
}

.checkbox {
  font-size: 1rem;
}

::placeholder {
  color: rgba(51, 51, 51, 0.589) !important;
  font-size: 0.8rem !important;
}

.ant-collapse .ant-collapse-item .ant-collapse-header .anticon {
  left: initial;
  right: 16px;
}
input[type="text"] {
  padding: 0.2rem 0.75rem;
}
.field-is-mandatory{
      border:1px inset red;
      &:focus{
        box-shadow: none;
        border-color:red;
      }
}
.mandatory-label{
  &:after{
    content:'\002A';
    color:red;
    position: absolute;
    right:8px;
    top:0;
}
}
.btn{
  padding:0.3rem 0.7rem;
  border-radius: 0;
}

.TableRowButtons{
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  color:$color-primary;
}

.ant-transfer-list-content-item{
  padding:1.5rem 0.8rem;
}