*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  @include respond(xs){
    font-size: 50%;
  }
  @include respond(sm){
    font-size: 60%;
  }
  @include respond(md){
    font-size: 80%;
  }
  @include respond(lg){
    font-size: 100%;
  }
}

body {
  margin: 0.2rem;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

.icon-btn {
  background: none;
  border: none;
  color: #fff;
}
svg {
  cursor: pointer;
}
//fdfdfdy5tyryryt
input[type="checkbox"] {
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid $color-primary;
  width: 1.4rem;
  height: 1.4rem;
  display: inline-block;
  position: relative;
  outline: none;

  &:checked:after {
    content: "\2714";
    border: 1px solid $color-primary;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 2px;
    width: 1.3rem;
    height: 1.3rem;
    display: inline-block;
    background-color: $color-primary;
  }
}

.checkbox {
  font-size: 1rem;
}

::placeholder {
  color: rgba(51, 51, 51, 0.589) !important;
  font-size: 0.8rem !important;

  @include respond(xs){
    font-size: 1.4rem !important;
  }

  @include respond(sm){
    font-size: 1.2rem !important;
  }
  @include respond(lg){
    font-size:0.9rem !important;
  }
}

.ant-collapse .ant-collapse-item .ant-collapse-header .anticon {
  left: initial;
  right: 16px;
}
input[type="text"] {
  padding: 0.2rem 0.75rem;
}
